doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='/css/style/.css')
    title Relativistic Baseball
  body
    article.entry
      h1 Relativistic Baseball
      p#question What would happen if you tried to hit a baseball pitched at 90% the speed of light?
      p#attribute --Ellen McManis
      p.
        Let’s set aside the question of how we got the baseball moving that
        fast. We&#39;ll suppose it&#39;s a normal pitch, except in the instant the
        pitcher releases the ball, it magically accelerates to 0.9c. From that
        point onward, everything proceeds according to normal physics.

      img.illustration(title='pitcher throwing ball', src='http://what-if.xkcd.com/imgs/a/1/01.png')
      p.
        The answer turns out to be “a lot of things”, and they all happen very
        quickly, and it doesn’t end well for the batter (or the pitcher). I sat
        down with some physics books, a Nolan Ryan action figure, and a bunch of
        videotapes of nuclear tests and tried to sort it all out. What follows
        is my best guess at a nanosecond-by-nanosecond portrait.
      p
        | The ball is going so fast that everything else is practically
        | stationary. Even the molecules in the air are stationary. Air molecules
        | vibrate back and forth at a few hundred miles per hour, but the ball is moving through them at 600
        em million
        | miles per hour. This means that as
        | far as the ball is concerned, they’re just hanging there, frozen.
      p.
        The ideas of aerodynamics don’t apply here. Normally, air would flow
        around anything moving through it. But the air molecules in front of
        this ball don’t have time to be jostled out of the way. The ball smacks
        into them so hard that the atoms in the air molecules actually fuse with
        the atoms in the ball’s surface. Each collision releases a burst of
        gamma rays and scattered particles.

      img.illustration(title='fusion illustration', src='http://what-if.xkcd.com/imgs/a/1/02.png')
      img.illustration(title='fusion zone of baseball', src='http://what-if.xkcd.com/imgs/a/1/03.png')

    nav.main-nav
      ul(class='nav-buttons')
        li(class='nav-next')
          a(href='/2/') next
    #footer-wrapper
      footer
        #footer-links
          ul
            li
              a(href='/archive') archive
            li
              a(href='/feed.atom') feed
            li
              a(href='http://xkcd.com') xkcd: comic


